:root {
  /* States */
  --color-danger: #db4525;
  --color-success: #8eca76;

  /* Accents */
  --color-accent: #7b61fa; /* Accent Purple */
  --color-accent-fg: #f9f9f9; /* Accent Purple */

  /* Palette */
  --color-gray-900: #151515; /* Almost Black */
  --color-gray-800: #3a3a3a; /* Gray 1 */
  --color-gray-700: #3e3e3e; /* Dark Stroke */
  --color-gray-600: #6b6b6b; /* No Name */
  --color-gray-500: #989898; /* Gray 2 */
  --color-gray-400: #c0c0c0; /* Gray 3 */
  --color-gray-300: #d6d6d6; /* Gray Stroke 2 */
  --color-gray-200: #efefef; /* Gray 4 */
  --color-gray-100: #e1e1e1; /* Gray Stroke 1 */
  --color-gray-50: #f9f9f9; /* Off White */

  /* Font Sizes */
  --text-2xs: 0.6875rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.625rem;
  --text-3xl: 4rem;

  /* Common sizes */
  --component-width-sm: 18.375rem;
  --component-width-md: 21rem;
  --component-width-lg: 26.25rem;
  --component-width-xl: 36.75rem;
  
  --card-width: var(--component-width-md);
  --dialog-width: var(--component-width-md);
  --input-width: var(--component-width-md);
  --notification-width: var(--component-width-md);
  --toast-width: var(--component-width-md);
}
