.card {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    font-size: var(--text-sm);
    line-height: var(--text-lg);
    padding: 1.5rem;
    border-radius: 1rem;
    background: var(--color-gray-300);
    color: var(--color-gray-900);
    width: 21rem;
}

.card > * {
    width: 100%;
}

.card > :is(h1, h2, h3, h4, h5, h6, .card--header) {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: left;
    margin: 0;
}

.card > :is(h1, h2, h3, h4, h5, h6, .card--header):after {
    justify-self: right;
    content: '•  •  •';
    font-size: var(--text-2xs);
    color: var(--color-gray-600);
}

.card > .card--item {
    display: grid;
    grid-template-columns: auto auto;
    font-size: var(--text-2xs);
    line-height: var(--text-sm);
    border-top: 0.0625rem solid var(--color-gray-200);
    padding: .5rem .0;
}

.card > .card--item:first-of-type {
    margin-top: 1rem;
    border: none;
}

.card--item > .card--item-key {
    font-size: var(--text-2xs);
    line-height: var(--text-sm);
    justify-self: left;
    padding-right: 1rem;
}

.card--item > .card--item-value {
    font-size: var(--text-2xs);
    line-height: var(--text-sm);
    justify-self: right;
    text-align: end;
    color: var(--color-gray-600)
}

.card--footer {
    display: inline-block;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
}

.card--footer > .tags {
    background: var(--color-gray-100);
    margin: .125rem .0625rem;
}

.card--footer > .tags-active {
    background: var(--color-accent);
}