code {
    font-family: 'Roboto Mono', 'Noto Sans Mono', 'Courier New', Courier, monospace;
    font-size: var(--text-xs);
    line-height: var(--text-lg);
    background: var(--code-background-color);
    color: var(--code-font-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
}

code b {
    font-weight: 500;
}

pre code {
    padding: 1rem;
    border-radius: 1rem;
    display: block;
}