h1 {
    font-size: var(--text-3xl);
    text-align: center;
}
h2 {
    font-size: var(--text-2xl);
}
h3 {
    font-size: var(--text-xl);
}
h4 {
    font-size: var(--text-lg);
}
h5 {
    font-size: var(--text-md);
}
h6 {
    font-size: var(--text-sm);
}

h1 b, h2 b, h3 b, h4 b {
    font-weight: 700;
}
