.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-400);
}

.icon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.icon svg * {
    stroke: var(--color-gray-400);
}

.icon::before {
    width: 1.5rem;
    height: 1.5rem;
}

.icon.logo--small {
    height: 1.5rem;
    width: 6.625rem;
}