.icon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-500);
}

.icon svg{
    width: 1.5rem;
    height: 1.5rem;
}

.icon svg * {
    stroke: var(--color-gray-500);
}
