input[type=radio], .input--radio {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    display: inline-block;
    vertical-align: middle;

    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    box-shadow: inset 2em 2em var(--input-radio-background-color);
    border: 0.0625rem solid var(--input-radio-border-color);
}

input[type=radio]:checked,.input--radio:checked {
    box-shadow: inset 2em 2em var(--input-radio-checked-background-color);
    border: .4375rem solid var(--input-radio-checked-border-color);
}

label input[type=radio], .form--label .input--radio {
    margin-right: 0.75rem;
}