input[type=checkbox], .input--checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    margin: 0;
    background-color: var(--input-checkbox-background-color);
    
    display: grid;
    place-content: center;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: .25rem;
    box-shadow: inset 2em 2em var(--input-checkbox-background-color);
    border: 0.0625rem solid var(--input-checkbox-border-color);
}

input[type=checkbox]:checked, .input--checkbox:checked {
    border: 0;
    box-shadow: inset 2em 2em var(--input-checkbox-checked-background-color);
}

input[type=checkbox]::before, .input--checkbox::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .25rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em var(--input-checkbox-checked-checkmark-color);
}

input[type=checkbox]:checked::before, .input--checkbox:checked::before {
    transform: scale(1);
    clip-path: polygon(20% 55%, 40% 75%, 80% 35%, 80% 27%, 40% 67%, 20% 47%);
}

label input[type=checkbox], .form--label .input--checkbox {
    margin-right: 0.75rem;
}
