a, .link {
    font-size: var(--text-sm);
    line-height: var(--text-lg);
    color: var(--link-font-color);
}

.link--disabled {
    color: var(--link-disabled-font-color);
}

.link--danger {
    color: var(--link-danger-font-color);
}

a:hover, .link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.link--disabled:hover {
    cursor: not-allowed;
    opacity: 1;
}

a:active, .link:active {
    text-decoration: underline;
}

.link--disabled:active {
    text-decoration: none;
}
