.link {
    font-size: var(--text-sm);
    line-height: 1.125rem;
    color: var(--color-accent);
}

.link--disabled {
    color: var(--color-gray-500);
}

.link--danger {
    color: var(--color-danger);
}

.link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.link--disabled:hover {
    cursor: not-allowed;
    opacity: 1;
}

.link:active {
    text-decoration: underline;
}

.link--disabled:active {
    text-decoration: none;
}
