.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--menu-background-color);
    padding: 1.5rem;
    
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    /* width: 21rem */
}

.menu .menu--header {
    width: 100%;
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.menu .menu--header .avatar {
    grid-area: left;
    width: 2rem;
}

.menu .menu--header .avatar img {
    width: 2rem;
    border: .0625rem solid var(--menu-avatar-border-color);
    border-radius: 50%;
}


.menu .menu--header .menu--header-title {
    grid-area: middle;
    text-align: center;
    width: 100%;
    font-size: var(--text-md);
    line-height: var(--text-lg);
    color: var(--menu-title-font-color);
    font-weight: 600;
}

.menu .menu--header .sandwich {
    grid-area: right;
    justify-self: flex-end;
    align-content: center;
}

.menu .menu--header .sandwich input {
    /* Using checkbox to catch the checked state */
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 0.625rem;
    left: -.0625rem;
    
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.sandwich span {
    display: block;
    width: 1.125rem;
    height: .125rem;
    margin-bottom: .3rem;
    position: relative;
    top: -.5rem;
    background: var(--menu-sandwich-color);
    border-radius: .0625rem;
    
    z-index: 1;
    
    transform-origin: .125rem 0;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

.sandwich span:first-child {
    transform-origin: 0 0;
}

.sandwich span:nth-last-child(2) {
    transform-origin: 50% 50%;
}

.sandwich input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) scale(1.41, 1) translate(.0625rem, -.03125rem);
}

.sandwich input:checked ~ span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0, 0);
}

.sandwich input:checked ~ span:nth-last-child(1) {
    opacity: 1;
    transform: rotate(-45deg) scale(1.41, 1) translate(-.03125rem, .03125rem);
}

.menu--content {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem 0 0 0;
}

.menu--content a li {
    padding: 1rem 0;
    border-bottom: .0625rem solid var(--menu-content-item-border-color);
}

.menu--content a:last-of-type li {
    border-bottom: 0;
}

.menu--content a {
    text-decoration: none;
    font-size: var(--text-md);
    line-height: var(--text-lg);
    font-weight: 600;
}
