.notification {
    display: block;
    align-items: center;
    justify-items: start;
    text-align: left;
    font-size: var(--text-sm);
    line-height: var(--text-lg);
    padding: 1rem 0;
    background: var(--notification-background-color);
    color: var(--notification-font-color);
    border-bottom: .0625rem solid var(--notification-border-color);
    width: var(--notification-width);
}

.notification--title {
    font-weight: 600;
    line-height: var(--text-lg);
    margin-bottom: .25rem;
}

.notification--message {
    margin-bottom: .25rem;
}

.notification--time {
    color: var(--notification-time-font-color);
}

.notification--unread .notification--title::before {
    content: '';
    display: inline-block;
    width: .625rem;
    height: .625rem;
    border-radius: .3125rem;
    border: .3125rem solid var(--notification-unread-color);
    margin: 0 .5rem 0 0;
}
