.tags {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: var(--text-2xs);
    line-height: var(--text-sm);
    padding: .5rem 1rem;
    border-radius: .25rem;
    background: var(--tags-background-color);
    color: var(--tags-font-color);
}

.tags-active {
    background: var(--tags-active-background-color);
    color: var(--tags-active-font-color);
}