div.toast {
    display: block;
    align-items: center;
    /* justify-items: center; */
    font-size: var(--text-sm);
    line-height: var(--text-lg);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: var(--toast-background-color);
    color: var(--toast-font-color);
    width: var(--toast-width);
    box-shadow: 0 .25rem 1.5rem 0 var(--toast-shadow-color);
}
